*{
  margin: 0;
  padding: 0;
  --backgroundColor:rgb(243, 243, 234);
  background-color:var(--backgroundColor);
}
#header{
  text-transform: capitalize;
  margin: 20px;
  font-size: 3em;
  text-align: center;
}

.search{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.searchBox{
  width: 30%;
  min-width: 200px;
  height: 30px;
  font-size: 14px;
  background-color: white;
  margin: 15px;
}
.imgContainer{
  position: relative;
  width: 50%;
}
.buttonContainer{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.searchButton{
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
}
.searchButton:hover{
  background-color: mediumaquamarine;
  color: var(--backgroundColor);
}

.myDog{
  display:flex;
  justify-content: space-around;
}
.dogImage{
  width:50%;
  margin-left: 5%;
}
.dogImage img{
  width: 100%;
  height: auto;
  max-width: 850px;
  max-height: 730px;
}
.information{
  width:45%;
  margin-left: 5px;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

h3{
  margin-top:10px;
}
.dogInfo{
  font-weight: 400;
}